<VirtualHost *:443>
    LogLevel warn
    SSLEngine on
    {{ httpd_tls_ciphers }}

    SSLCertificateFile /etc/pki/tls/certs/{{ inventory_hostname }}.crt
    SSLCertificateKeyFile /etc/pki/tls/private/{{ inventory_hostname }}.key
    SSLCertificateChainFile /etc/pki/tls/certs/{{ inventory_hostname }}-CAChain.crt
    Header always set Strict-Transport-Security "max-age=31536000"

    ScriptAlias /lookaside/upload.cgi /var/www/cgi-bin/upload.cgi

    Alias /repo {{ lookaside_dir }}
    Alias /lookaside {{ lookaside_dir }}
    Alias /sources {{ lookaside_dir }}

    CustomLog "logs/pkgs-access.log" combined
    ErrorLog "logs/pkgs-error.log"

    <Directory {{ lookaside_dir }}>
	Options FollowSymLinks
	AllowOverride None
	Require all granted
        LimitRequestBody {{ httpd_limitrequestbody }}
    </Directory>

    <Location /lookaside/upload.cgi>
        SetHandler cgi-script
        Options +ExecCGI
        LimitRequestBody {{ httpd_limitrequestbody }}
    </Location>

</VirtualHost>
